{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  

</head>

<body>

    <style>
        .left{
            padding-left: 10%;

        }
        .right.main_image img{
            padding-right: 10%;
        }
    </style>

    <div class="main">
        <div class="left">
            <div class="left1">
                <p>komabdjhsdbchjbdaehcjejhvbdjhfhbj vc nxm fvdjcn vfhbdcxkjdfhb cnxdfjb</p>
            </div>
            <div class="left2">
                <p>komabdjhsdbchjbdaehcjejhvbdjhfhbj vc nxm fvdjcn vfhbdcxkjdfhb cnxdfjb</p>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'Slider1.jpg' %}" style="width: 100%; height: 100%;" >
        </div>
    </div>

</body>

</html>